a.button-3d {
  margin: 0 1.5rem 0 0;
  width: 325px;
  height: 49px;
  background: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  text-align: center;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

@media not all and (hover: none) {
  a.button-3d:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      var(--btn-color);
  }
}

a.button-3d:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    var(--btn-color);
}

a.button-3d::before {
  content: "";
  position: absolute;
  top: 6px;
  right: -25px;
  height: 59px;
  width: 24px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    var(--btn-color);
  border: 1px solid black;
  transform: matrix(1, 1.01, 0, 0.81, 0, 0);
}

a.button-3d::after {
  content: "";
  position: absolute;
  background: #000;
  height: 24px;
  width: 396px;
  bottom: -25px;
  left: -24px;
  border: 1px solid black;
  transform: matrix(0.82, 0, 1, 1, 0, 0);
}

a.button-3d > img {
  width: 24px;
  height: auto;
  padding-right: 0.25rem;
}
