.app {
  background-color: #ffc115;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.app-logo {
  height: 98px;
  pointer-events: none;
  border-radius: 50%;
  background: #ddd;
  border: 1px solid #000;
  box-shadow: 6px 12px 0px #000;
  user-select: none;
}

.app header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.app-header__name {
  font-size: 20px;
  color: black;
  text-align: center;
}

.app-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.app footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.85rem;
}

.app footer a {
  color: #303030;
}

.app footer a:hover {
  color: #0d00bf;
}
